/* HOJA DE TRABAJO */
body {
  font-family: 'Raleway', 'arial';
  cursor: url('http://ionicframework.com/img/finger.png'), auto; }

}

.portada{ 
	background:url(../images/diseños.jpg);
	height: 212px;
	width: 100%;
	margin:0px auto;
	background-size: cover;
}


.fondo{ 
	background:url(../images/background1.jpg);
	height: 1000px;
	width: 100%;
	margin:0px auto;
	background-size: cover;
}

#etiquetas {
	float: left;
	display: inline-block;
	width: 150px;
	height: 750px;
	padding: 5px 10px;
	margin: 6% 2%;
}

#papel {
	float: left;
	display: inline-block;
	width: 800px;
	height: 880px;
	padding: 5px 10px;
	margin: 6% 2% 4% 2%;
	background: #eee;
	text-align: center;
  background: #fff;
  box-shadow: 
    0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 0px 12px rgba( 0,0,0,0.33 );
  border-radius: 5px;
  border: 1px solid #cacaca;
}

section div {
	background: white;
	width:120px;
	overflow: auto;
	display: inline-block;
	margin: 20px;
	resize: both;
	border:1px solid black;
	padding: 35px;
	position: absolute;
	left: 2%;
	top: 25%;
}


#btn{
  margin-top: 20px;
  background: #ff6666;
  border: 1px solid #ff6666;
  outline:none;
}
