#papel{
	width: 550px;
    height: 570px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    display: inline-block;
    float: left;
}
#div1, #div2{
	background: white;
	width:120px;
	overflow: auto;
	display: inline-block;
	margin: 20px;
	resize: both;
	border:1px solid black;
	padding: 35px;
	position: absolute;
}
#div2{
	background: green;
	resize: both;

}